body {
  background: linear-gradient(to bottom, #ffe6f2, #cce7ff);
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 50px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

p {
  margin-top: 20px;
  font-size: 28px;
  color: #ff1493;
}
